*{
    overflow-x: hidden;
}
.form{
    position: relative;
    padding: 12px;
    width: 70%;
    text-transform: capitalize;
    left: 29%;
    z-index: 5;
}
 input{
    width: 40% !important;
}
.form .btn{
    margin: 5px;
}
.img3{
    position: absolute;
    top: 16% !important;
    left: 44%;
    height: 115vh !important;
    z-index: -5;

}
.form-select{
    width: 90% !important;
    margin: 5% auto 55px auto;
}
.head{
    overflow: hidden !important;
}
.addStyle{
    width:450px !important;
}
.addStyle .swal2-title {
    height: 45px !important;
    text-align: center !important;
}